/* MINDEN OLDALRA, RESZPONZIV*/
/*
BETUTIPUSOK
MENU

MINDEN TABLAZATNAK SAJAT CSS!
*/
*{
    box-sizing: border-box;
}

a{
    box-shadow: 0 0 5px whitesmoke, 0 0 25px whitesmoke;
    background-color: black;
    text-decoration: none;
    border-radius: 5px;
    color:whitesmoke;
    text-align: center;
}

a:hover {
    box-shadow: 0 0 5px rgb(0, 255, 13), 0 0 25px rgb(0, 255, 13);
}

nav ul{
    font-size: 20px;
    padding: 0px;
    text-align: center;
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
}

main{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "h h h"
    "n a as"
    "f f f";
    gap:10px;
}

header{
    grid-area: h;
    text-align: center;
}

nav{
    grid-area: n;
    border-right: 5px solid black;
    border-radius: 30px;
    background-color: black;
}

article{
    grid-area: a;
    text-align: center;
}

aside{
    grid-area: as;
    font-size: 25px;
    text-align: center;
    border-left: 5px solid black;
    font-family: Verdana;
    border-radius: 30px;
}

footer{
    padding-top: 30px;
    grid-area: f;
    text-align: center;
    font-size: 25px;
    border-top: 5px solid black;
    font-family: Verdana;
    letter-spacing: 8px;
    border-radius: 30px;
}

h1{
    font-size: 30px;
    font-family: Verdana;
    letter-spacing: 5px;
    border-bottom: 5px solid black;
    border-radius: 30px;
}

h2{
    font-size: 25px;
    text-decoration: underline;
    font-family: Verdana;
    letter-spacing: 8px;
}

@media screen and (max-width:700px){
    main{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
        "h h h"
        "n n n"
        "a a a"
        "as as as"
        "f f f";
    }

}