table {
    border-collapse: collapse;
    margin:auto;
    min-width: 500px;
}

tbody tr:nth-child(odd) td:nth-child(odd){
    background-color: lightgray;
}

.kulsoresz{
    background-color: rgb(99, 98, 98);
    color:white;
}

td{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

tbody tr:nth-child(even) td:nth-child(even){
    background-color: lightgray;
}

.reszponzivsakktablazat{
    overflow-x: auto;
}