table, td, th {
    border: 1px solid lightgray;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin:auto;
    min-width: 500px;
}

thead tr{
    background-color: lightgray;
}

th{
    color: white;
}

tbody tr:nth-child(odd){
    background-color: lightgray;
}

.reszponzivtablazat{
    overflow-x: auto;
}

.osszevont{
    background-color: lightgray;
}

.osszevontsor{
    background-color: lightgray;
}